#change-password-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-body
        .row.text-center.pad-bottom
          %h2 Change your password
          = form_for(:user, url: edit_password_path, html: { method: :put }) do |f|
            = f.hidden_field :reset_password_token
            .field
              = f.label :password, "New password"
              %br/
              = f.password_field :password, autofocus: true, autocomplete: "off"
            .field
              = f.label :password_confirmation, "Confirm new password"
              %br/
              = f.password_field :password_confirmation, autocomplete: "off"
            .field
              = f.label :current_password, "Confirm new password"
              %br/
              = f.password_field :current_password, autocomplete: "off"

            .actions
              = f.submit "Change my password"

